  <body class="login">
    <div>
      <div class="login_wrapper">
        <div class="form login_form">
          <section class="login_content">

            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <h1> Login - Usuário </h1>

                <% flash.each do |key, value| %>
                  <div class="flash <%= key %>"><%= value %></div>
                <% end %>

                  <div class="field">
                    <%= f.email_field :email, autofocus: true, class:"form-control", autocomplete: "email" %>
                  </div>

                  <div class="field">
                    <%= f.password_field :password, class:"form-control", autocomplete: "current-password" %>
                  </div>

                  <% if devise_mapping.rememberable? -%>
                    <div class="field">
                      <%= f.check_box :remember_me %>
                      <%= f.label :remember_me %>
                    </div>
                  <% end -%>

                  <div class="actions">
                    <%= f.submit "Entrar", class:"btn btn-default submit" %>
                  </div>

              <div class="clearfix"></div>

              <div class="separator">
                <%= render "users/shared/links" %>
              </div>
            <% end %>
          </section>
        </div>
      </div>
    </div>
  </body>