<body class="login">
  <div>
    <div class="login_wrapper">
      <div class="form login_form">
        <section class="login_content">
          <form>
            <h1>Create Account</h1>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= devise_error_messages! %>

              <div class="field">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true , class:"form-control", placeholder:"Email", autocomplete: "email" %>
              </div>

              <div class="field">
                <%= f.label :password %>
                <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %><br />
                <%= f.password_field :password, class:"form-control", placeholder:"Password", autocomplete: "new-password" %>
              </div>

              <div class="field">
                <%= f.label :password_confirmation %><br />
                <%= f.password_field :password_confirmation, class:"form-control", placeholder:"Password",  autocomplete: "new-password" %>
              </div>

              <div class="actions">
                <%= f.submit "Sign up", class:"btn btn-default submit" %>
              </div>
            <% end %>

            <div class="clearfix"></div>

            <div class="separator">
              <%= render "admins/shared/links" %>
            </div>
          </form>
        </section>
      </div>
    </div>
  </div>
</body>