<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Lelly Doces | Administração </title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Begin Styles -->
    <%= stylesheet_link_tag    'application'%>
    <%= stylesheet_link_tag    'admins_backoffice'%>
    <!-- End Styles -->
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <%= link_to admins_backoffice_home_index_path, class:"site_title" do %> 
                <span>Lelly Doces</span>
              <% end %>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile clearfix">
              <div class="profile_pic">
                <%= image_tag 'img.jpg', alt:'' , class:"img-circle profile_img"%>
              </div>
              <div class="profile_info">
                <span>Bem Vindo,</span>
                <h2><%= current_admin.email %></h2>
              </div>
              <div class="clearfix"></div>
            </div>
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>Menu</h3>
                <ul class="nav side-menu">
                  <li><a><i class="fa fa-edit"></i> Cadastros <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li>
                        <%= link_to admins_backoffice_admins_index_path do %>
                              <i class="fa fa-users fa-fw"></i> Clientes
                        <% end %>
                      </li>
                      <li>
                        <%= link_to admins_backoffice_admins_index_path do %>
                              <i class="fa fa-users fa-fw"></i> Produtos
                        <% end %>
                      </li>
                      <li>
                        <%= link_to admins_backoffice_admins_index_path do %>
                              <i class="fa fa-users fa-fw"></i> Fornecedores
                        <% end %>
                      </li>
                      <li>
                        <%= link_to admins_backoffice_admins_index_path do %>
                              <i class="fa fa-users fa-fw"></i> Transportadora
                        <% end %>
                      </li>
                      <li>
                        <%= link_to admins_backoffice_admins_index_path do %>
                              <i class="fa fa-users fa-fw"></i> Administradores
                        <% end %>
                      </li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-money"></i> Financeiro <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li>
                        <%= link_to admins_backoffice_admins_index_path do %>
                              <i class="fa fa-users fa-fw"></i> Contas a Pagar
                        <% end %>
                      </li>
                      <li>
                        <%= link_to admins_backoffice_admins_index_path do %>
                              <i class="fa fa-users fa-fw"></i> Contas a Receber
                        <% end %>
                      </li>
                    </ul>
                  </li>

                  <li><a><i class="fa fa-bar-chart-o"></i> Relatórios <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li>
                        <%= link_to admins_backoffice_admins_index_path do %>
                              <i class="fa fa-users fa-fw"></i> Clientes
                        <% end %>
                      </li>
                      <li>
                        <%= link_to admins_backoffice_admins_index_path do %>
                              <i class="fa fa-users fa-fw"></i> Vendas
                        <% end %>
                      </li>
                      <li>
                        <%= link_to admins_backoffice_admins_index_path do %>
                              <i class="fa fa-users fa-fw"></i>Custos
                        <% end %>
                      </li>
                      <li>
                        <%= link_to admins_backoffice_admins_index_path do %>
                              <i class="fa fa-users fa-fw"></i>a Pagar
                        <% end %>
                      </li>
                      <li>
                        <%= link_to admins_backoffice_admins_index_path do %>
                              <i class="fa fa-users fa-fw"></i>a Receber
                        <% end %>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
            <!-- /sidebar menu -->

            <!-- /menu footer buttons -->
            <div class="sidebar-footer hidden-small">
              <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
              </a>
              <%= link_to destroy_admin_session_path, "data-toggle":"tooltip", "data-placement":"top", "title":"Sair", method: :delete do %>
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
              <% end %>
            </div>
            <!-- /menu footer buttons -->
          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>

              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <%= image_tag 'img.jpg', alt:'' %>
                    <%= current_admin.email %>
                    <span class=" fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li>
                      <%= link_to destroy_admin_session_path, method: :delete do %>
                        <i class="fa fa-sign-out pull-right"></i>
                        Sair
                      <% end %>
                    </li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->
          <%= yield %>
        <!-- footer content -->
        <footer>
          <div class="pull-right">
            Lelly Doces - <a href="http://helpc.com.br">Helpc</a>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>

    <!-- Begin Scripts -->
    <%= javascript_include_tag 'application'%>
    <%= javascript_include_tag 'admins_backoffice'%>
    <!-- End Scripts -->
  </body>
</html>
