<!DOCTYPE html>
<html>
  <head>
    <title>Lelly Doces</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application'%>
    <%= stylesheet_link_tag    'admins_backoffice'%>
  </head>

  <body>

    <%= yield %>

    <%= javascript_include_tag 'application'%>
    <%= javascript_include_tag 'admins_backoffice'%>
  </body>
</html>
